*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#f0f3f6;
}



h1{
    color: white;
    text-align: center;
}
.fa-solid{
    width: 25px;
}
/* ul li:hover a{
    background-color: #88b4ba;
} */

/* .fa-bars{
    padding-left: 80px;
}

.margin1{
    margin:1rem !important;
}

.mynavbar{
    margin: 0rem 0rem 0rem 0.5rem !important;
}
.dashboard{
    margin-left: 30px;
    margin-top: 10px;
}

/* new */


.dashboard{
    margin: 10px 0px 10px 0px;
    
}
.card-row{
    padding: 20px 0px 0px 0px;
}
.card-row1{
    padding: 20px 0px 50px 0px;
}
.back{
   background-color:  #ecf0f5;
   padding-left:0px;
}
.profile{
    float: right;
}

.header-left{
    font-size: 20px;
    color: white;
    
   
    background: #144358 ;
    user-select: none;
    text-transform: uppercase;
   
    font-weight: bold;
    border-bottom: solid #f0f3f6;
}
.row-head{
    padding-top: 15px;
    
}
.icon-head{
  padding: 5px 0px 0px 35px;
    float: right;
    

    
    height:46px
   
}
.menu-container{
    padding: 0px 0px 0px 0px;
}

.menu-container li{
    list-style: none;
    padding: 15px 15px 15px 15px;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    
}
.menu-container li:hover {
    background-color: #88b4ba;
}
.menu-container li a:hover{
    color: white;
    text-decoration: none;
}

.headeruserName {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #144358;
}
.headeruserRole{
    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    
}
.nameDesign {
    float: left;
    line-height: 20px;
    
}
.ul-card li{
padding-left: 15px;
list-style: none;
}
.ul-b li{
    list-style: none; 
    display: inline-block;
    vertical-align: top;
    
}
.ul-b{
    padding-left: 10px;
    border-left: 1px solid black ;
}
.yash-image{
   padding-top:0px;
   
}
.yash-image img{
    margin-top: -15px;
}
.card{
    box-shadow: 2px 2px 5px -2px #717171;
}
.box-title {
    font-size: 17px;
    font-weight: 400;
}
.gap{
    
    padding-bottom: 5px;
}
@media only screen and(max-width: 576px){
    
        }

   @media only screen and (max-width: 992px){
    .sam{
        width:100%;
 
    }

} 
/* list */
.input1{
   
    padding-left: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20), inset 0px 1px 1px rgba(0, 0, 0, 0.20)
    
    

}
.del-btn{
    margin: 2px 0px 0px 8px;
    border-radius: 20px;
    padding:0px 5px;
    background-color: #dc3545;
    color:white;
    border: none;
}
.del-btn:hover{
    background-color: #ef919a;
}
.edit-btn{
    margin: 2px 0px 0px 10px;
    border-radius: 20px;
    padding:0px 15px;
    background-color: rgb(75, 184, 227);
    color:white;
    border: none;
}
.edit-btn:hover{
    background-color:skyblue ;
}
.btn-filter{
    border-color: #66969c;
    color: #66969c;
}
.ser-btn{
    margin-top: 2px 0px 2px 0px;
    padding: 0px 5px;
    border-radius: 20px;
    background-color: #66969c;
    color:white;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ser-btn:hover{
    background-color:#b6f0f8 ;
    color:black;
}
.footer1{
    margin-top: 20px;
    background-color: rgba(204, 204, 204, 0.53);
     padding: 20px 0px;
}
.title1{
    color: #144358;
    padding-top: 10px;
}